*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.styleNavBg{
    background: #000000;
}
.styleNavBg{
    background: #000000;
}

/* maedia queries*/

@media all and (max-width: 576px){
    .slider-responsive{
        height: 250px;
        object-fit: cover;
    }
}

